* {
  box-sizing: border-box;
}
  
body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

@font-face {
  font-family: 'afternoon in stereo';
  src: url(fonts/Afternoon\ in\ Stereo.ttf);
  font-style: normal;
  font-weight: 100;
}
  

.search-container{
  font-family: Arial, Helvetica, sans-serif;
  display:inline-block;
  padding-top: 10px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 25px;
}


input.button{
  border-radius: 15px;
  font-size: 25px;
  background-color: rgba(0,0,0,.5);
  display:inline-block;
  padding:0.5em 3em;
  border:0.25em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform:uppercase;
  font-family:'Roboto',sans-serif;
  font-weight:400;
  color:rgb(255, 255, 255);
  text-align:center;
  transition: all 0.15s;
}

.button:hover{
  color:#DDDDDD;
  border-color:rgb(101, 197, 141);
}
    
.button:active{
  color:#BBBBBB;
  border-color:rgb(17, 207, 0);
}

h1{
color: white;
font-size: 150px;
font-family: 'afternoon in stereo';
font-weight: 100;
}

.form-description{
  font-size: 25px;
  margin: 20px 10px;
}

.results-container{
  padding-top: 0px;
}

.brewery{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 20px;
  align-items: center;
  padding-top: 50px;
}


footer {
  width: 100%;
  padding: 1% 0;
  background-color: rgb(34, 34, 34);
}

.select-city{
  padding: 13px 18px;
  width: 25%;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 900;
  text-align: left;
}


.select-state {
  -webkit-appearance: none;
  padding: 13px 18px;
  width: 15%;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 900;
  text-align: left;      
}


  header {
    background-image: url(https://i.imgur.com/Su0fBEM.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6% 0;
    align-content: auto;
  }

section {
  min-height: 200px;
  padding: 3% 0;
  background-color: rgb(255, 255, 255);
}
  
  
.input-form {
  color: white;
  font-size: 40px;
  /*margin-top: 100px;*/
}

.slider {
  width: 50%;
}

.results-limit-label {
  font-size: 20px;
  font-weight: 100%;
  color: white;
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: white;
}

#map {
  height: 300px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(121, 121, 121);
  list-style: none;
}

i.fab.fa-google::before{
  color: rgb(121, 121, 121);
}

i.fas.fa-coffee::before{
  color: rgb(121, 121, 121);
}
i.fas.fa-beer::before{
  color: rgb(121, 121, 121);
}
i.fas.fa-map-marked-alt::before{
  color: rgb(121, 121, 121);
}

.team-button{
  margin: 50px;
  text-decoration: none;
  color: white;
}

h5{
  text-align: center;
}

.button-list>*{
  display: inline-block;
  list-style: none;
  background-color: rgba(0,0,0,.5);
  border:0.15em solid #FFFFFF;
    color: white;
    padding:0.5em 3em;
    font-family:'Roboto',sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 0px 100px;
    cursor: pointer;
    transition: all 0.15s;
}
.button-list>*:hover{
  color:#DDDDDD;
  border-color:rgb(101, 197, 141);
  }
  .button-list>*:active{
  color:#BBBBBB;
  border-color:rgb(17, 207, 0);
  }
/* 
  Responsive Mobile */

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1 1;
  }

  h1{
    font-size: 75px ;
  }

  .search-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .select-state {
    -webkit-appearance: none;
    padding: 13px 18px;
    width: 15%;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 900;
    text-align: left;      
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  
  
  main {
    display: flex;
    flex-direction: column;
  } 

  .brewery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
  
@media screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1;
  }
    
  h1{
    font-size: 75px ;
  }

  .form-description{
    font-size: 15px;
    margin: 10px 10px;
  }

  .state-city{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .state-city > *{
    width: 80%;
    margin-top: 15px;
  }
  
  .select-state {
    -webkit-appearance: none;
    padding: 13px 18px;
    width: 80%;
    font-size: 13px;
    font-weight: 500;
    text-align: left;      
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1;
  }

  input.button{
    border-radius: 15px;
    font-size: 16px;
    background-color: rgba(0,0,0,.5);
    display:inline-block;
    padding:0.5em 3em;
    border:0.25em solid #FFFFFF;
    margin: 30px 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:rgb(255, 255, 255);
    text-align:center;
    transition: all 0.15s;
  }

  .input-form {
    color: white;
    font-size: 40px;
    margin-top: 10px;
  }

}