* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  footer {
    width: 100%;
    padding: 1% 0;
    background-color: #aaa;
  }

  
  
  header {
    padding: 12% 0;
    min-height: 400px;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
.input-form {
  margin-top: 100px;
}

.slider {
  width: 50%;
}

.results-limit-label {
  font-size: 13px;
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.map {
  width: 90%;
}

/* 
  Responsive Mobile */


  @media screen and (min-width: 600px) {
    header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 1 1;
    }
    
  

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 1;
    }
  }
  
  @media screen and (min-width: 768px) {
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex: 1 1;
    }


    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }  
  
    main {
      display: flex;
      flex-direction: column;
    } 

    .brewery {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }